.flex_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}
.Header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.Content {
  margin: 10px;
  height: 90vh;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* .ContentMain {
  height: 90vh;
  display: flex;
} */

.Content .Contenido {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Main {
  width: 100vw;
}
.Captura {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
}
.OpcionesCaptura {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.OpcionesCaptura .btn {
  margin: 2px;
}
.Reporteria {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
}
.OpcionesReporteria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.OpcionesReporteria .btn {
  margin: 2px;
}
