.flex_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.Content {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.ContentMain {
  height: 90vh;
  display: flex;
}
.Main {
  width: 100vw;
}
.Captura {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
}
.Graph {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
}
